@default-font: ~"'Droid Sans', sans-serif";
@serif-font: ~"'Droid Serif', serif";
@article-header-font-size: 22px;

.desktop-var-mixin() {
	@basic-img-width: 162px;
	@basic-img-height: 162px;
	@social-img-width-height: 56px;
}

.mobile-var-mixin() {
	@basic-img-width: 75px;
	@basic-img-height: 75px;
	@social-img-width-height: 35px;
}
